/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pcgr -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // PCGR params
    input  = 'https://raw.githubusercontent.com/BarryDigby/nf-core-pcgr/dev/assets/test_data/samplesheet.csv'
    database = null
    genome = 'GRCh37'
    mode   = 'pcgr'
    fasta = 'https://raw.githubusercontent.com/BarryDigby/nf-core-pcgr/dev/assets/test_data/GRCh38_chr1_15MBP.fasta'
    assay = 'WES'
    tumor_dp_tag = 'TDP'
    tumor_af_tag = 'TAF'
    control_dp_tag = 'NDP'
    control_af_tag = 'NAF'
    call_conf_tag = 'TAL'
    estimate_signatures = true
    estimate_msi_status = true
    estimate_tmb = true
    cna_analysis = true

}
